.header {
    width: inherit;
    /* padding: 0.5rem; */
    margin-bottom: 1.5rem;
    border-bottom: 1px solid #d2d2d2;
}

.title {
    text-align: center;
    margin-bottom: 2rem;
}

.code {
    font-weight: 600;
}

.info {
    width: 100%;
}

.title_info {
    font-weight: 600;
    /* margin-top: 2rem; */
    /* margin-bottom: 1.5rem; */
}

.text_info {
    font-weight: 500;
}

.highlight_info {
    color: var(--color-primary);
    font-weight: 600;
}

.section_back {
    width: 100%;
    margin: 1rem 0;
}

.link_back {
    width: max-content;
    display: flex;
    justify-content: left;
    align-items: center;
    border: 2px solid var(--color-primary);
    border-radius: 2px;
    padding: 0 0.5rem;
    color: var(--color-primary);
    text-decoration: none;
    float: right;
    font-weight: 600;
}

.link_back:hover {
    color: #fff;
    background-color: var(--color-primary);
    transition: all 0.2s ease-in;
}

.status_section {
    margin-bottom: 1rem;
}

.status_section > h4 {
    font-weight: 600;
}