.header {
    width: inherit;
    /* padding: 0.5rem; */
    margin-bottom: 1.5rem;
    border-bottom: 1px solid #d2d2d2;
}

.title {
    text-align: center;
    margin-bottom: 2rem;
}

.info {
    width: 100%;
}

.title_info {
    /* margin-top: 2rem; */
    margin-bottom: 1.5rem;
}

.highlight_info {
    color: var(--color-primary);
    font-weight: 600;
}

.section_back {
    width: 100%;
    margin: 1rem 0;
}

.link_back {
    width: max-content;
    display: flex;
    justify-content: left;
    align-items: center;
    color: var(--color-primary);
    text-decoration: none;
    float: right;
    font-weight: 500;
}

.link_back:hover {
    color: blueviolet;
    text-decoration: underline;
}
