.section {
    width: 100%;
    min-height: calc(100vh - var(--navbar-size));
    margin: 0 auto;
    padding: 1rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    margin-top: calc(100vh / 4);
    display: block;
    text-align: center;
    height: min-content;
}

.home_back {
    text-decoration: none;
    border: 2px solid var(--color-primary);
    border-radius: 6px;
    color: var(--color-primary);
    font-size: 18px;
    padding: 0.5rem 1rem;
}

.home_back:hover,
.home_back:focus{
    background-color: var(--color-primary);
    color: #fff;
    transition: all 0.2s ease-in;
}