:root {
  --color-primary: #3498db;
  --color-secondary: #2c3e50;
  --spinner-size: 10rem;
  --circle-status-size: 1.25rem;
  --line-status-lenght: 0.25rem;
  --navbar-size: 3.5rem;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  /* text-decoration: none; */
}

* {
  box-sizing: border-box;
}

footer a {
  text-decoration: underline;
  color: var(--color-primary);
}