:root {
  --color-primary: #4e54c8;
  --color-secondary: #343030;
  --color-second-blue: #8f94fb;
  --color-second-dark-blue: #34495e;
  --spinner-size: 10rem;
  --circle-status-size: 1.25rem;
  --line-status-lenght: 0.25rem;
  --navbar-size: 4.5rem;
  --padding-size-x-page-md: 0rem;
  --padding-size-x-page-lg: 0rem;
  --width-container-md: 1000px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Exo", sans-serif;
}

a {
  color: inherit;
  /* text-decoration: none; */
}

* {
  box-sizing: border-box;
}

.navbar-light .navbar-nav .nav-link {
  color: var(--color-primary);
  font-size: 20px;
}

.navbar-light .navbar-toggler {
  padding: 0;
  border: none;
}

.navbar-light .navbar-toggler:focus {
  outline: 0;
  box-shadow: none;
}