:root {
  --color-primary: #4e54c8;
  --color-secondary: #343030;
  --color-second-blue: #8f94fb;
  --color-second-dark-blue: #34495e;
  --spinner-size: 10rem;
  --circle-status-size: 1.25rem;
  --line-status-lenght: 0.25rem;
  --navbar-size: 4.5rem;
  --padding-size-x-page-md: 0rem;
  --padding-size-x-page-lg: 0rem;
  --width-container-md: 1000px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Exo", sans-serif;
}

a {
  color: inherit;
  /* text-decoration: none; */
}

* {
  box-sizing: border-box;
}

/* ## BOOTSTRAP PERSONALIZADO ## */
.navbar-light .navbar-nav .nav-link {
  color: var(--color-primary);
  font-size: 20px;
}

.navbar-light .navbar-toggler {
  padding: 0;
  border: none;
}

.navbar-light .navbar-toggler:focus {
  outline: 0;
  box-shadow: none;
}

.navbar-collapse {
  flex-grow: 0;
}

/* ICON MENU */
.toggle-container:hover .bar1,
.toggle-container:hover .bar2,
.toggle-container:hover .bar3 {
  background-color: var(--color-secondary)
}

.bar1,
.bar2,
.bar3 {
  width: 30px;
  height: 4px;
  background-color: var(--color-primary);
  margin: 6px;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}