.container {
  padding: 0 2rem;
}

.section_title {
  width: inherit;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.title_text {
  color: var(--color-secondary);
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.subtitle_text {
  color: var(--color-second-blue);
}

.form_track_code {
  width: 100%;
}

.btn_track {
  margin-top: 1.25rem;
  width: 12.5rem;
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  font-size: 18px;
  font-weight: 600;
}

.btn_track:hover,
.btn_track:focus {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  opacity: 0.7;
}