.card_custom {
    width: 100%;
    box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.2);
}

.card_body {
}

.div_icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-weight: 600;
    margin-bottom: 12px;
}

.subtitle {
    margin-bottom: 10px;
    font-weight: 500;
}

.date {
    color: var(--color-primary);
    font-size: 1rem;
    font-weight: 500;
}

@media (max-width: 600px) {
    .div_icon {
        margin-bottom: 1rem;
    }

    .card_body {
        padding: 1rem 0.625rem;
    }

    .title {
        text-align: center;
        font-size: 1.125rem;
    }

    .subtitle {
        font-size: 0.875rem;
    }

    .date {
        font-size: 0.875rem;
    }
}
