.navbar_custom {
    border-bottom: 4px solid var(--color-second-blue);
    z-index: 1;
}

.nav_logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    font-weight: 700;
    font-size: 28px;
}

.black_color{
    color: #000;
}

.primary_color{
    color: #4E54C8;
}

.item_link {
    font-weight: 600;
}

.toggle_button {
    /* padding: 0.5rem; */
    color: var(--color-primary);
    font-size: 1.625rem;
}

/* Mobile */
@media screen and (max-width: 600px) {
    .navbar_custom {
        padding: 0.5rem 1rem;
    }
}

/* Laptops */
@media screen and (min-width: 1200px) {
    .navbar_custom {
        padding: 0.5rem var(--padding-size-x-page-md);
    }
}

/* Big Desktop */
@media screen and (min-width: 1600px) {
    .navbar_custom {
        padding: 1rem var(--padding-size-x-page-lg);
    }
}
