.footer_custom {
    font-size: 14px;
    background-color: var(--color-secondary);
    color: #fff;
    box-sizing: border-box;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
